[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/danielBelenky
[access "refs/for/refs/*"]
	read = group user/danielBelenky
	push = group user/danielBelenky
	label-Code-Review = -2..+2 group user/danielBelenky
	label-Verified = -1..+1 group user/danielBelenky
	rebase = group user/danielBelenky
	removeReviewer = group user/danielBelenky
	submit = group user/danielBelenky
[access "refs/heads/*"]
	read = group user/danielBelenky
	create = group user/danielBelenky
	push = +force group user/danielBelenky
	pushMerge = group user/danielBelenky
[access "refs/tags/*"]
	push = +force group user/danielBelenky
	pushTag = group user/danielBelenky
	pushSignedTag = group user/danielBelenky
